<!-- This html is used an email format that is generated and sent to new users after
     registering on the web app -->

<p>Hello {{first_name}},</p>

<p>Thank you for registering with AIRQUALITY. Before you can login you must verify your email address at the following link:</p>
<p>Link: {{email_link}}</p>
<hr>
<p>We are processing your request and will follow up with an email shortly on the status of your sensor.</p>
<p>Email: {{email}}</p>
<p>First Name: {{first_name}}</p>
<p>Last Name: {{last_name}}</p>
<p>Address: {{street_address}}, {{city_address}}, {{state_address}}  {{zip_address}}</p>
<hr>
<p>Thank you,</p>
<p>AIR QUALITY TEAM.</p>
<p>AIR QUALITY EMAIL</p>